/* Delete before publishing

div, nav, span, footer, h2, h3, h4, h5, p, li, ul,ol, img {
 border: 1px solid blue;
}

Delete above here before publishing */

/* Base structure */
html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Header bar */
header {
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  padding: 1rem;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  top: 1rem;
  padding: 1rem;
}

.identity {
  display: flex;
}

.identity img {
  height: 1.5rem;
  margin: 0 1rem;
}

.identity p {
  margin: auto 0;
}

nav {
  display: flex;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  padding: 0 1rem;
  margin: auto 0;
}

/* Main banner */
.main-banner {
  display: flex;
  justify-content: flex-end;
}

.message {
  display: flex;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Main content */

/* Services section */
.services {
  display: flex;
  justify-content: center;
  height: 8rem;
  margin: 3rem auto;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 5rem;
  margin: 0 3rem;
}

.services img {
  max-width: 5rem;
}

#exams img {
  width: 3.5rem;
}

/* Beliefs secion */
.beliefs {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.stance {
  width: 35%;
  margin-right: 5%;
}

.subhead {
  width: 10rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

h3 {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

/* Footer section */
footer {
  display: flex;
  background-color: azure;
  padding: 4rem;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Media queries */
@media only screen and (min-width: 769px) {
  nav.mobile {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  header {
    height: 22rem;
  }

  .header-bar {
    margin-top: 0;
    padding: 1rem;
  }

  .message {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  h2 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width:768px) {
  nav.desktop {
    display: none;
  }
  header {
    background-position: 20%;
    height: 17rem;
  }

  header p {
    display: none;
  }

  .message {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 1rem;
    margin-top: 9rem;
    margin-right: 0;
  }

  h2 {
    font-size: 1rem;
  }

  .services {
    align-items: center;
    flex-direction: column;
    padding: 3.77rem auto;
    height: 100%;
  }

  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  p {
    font-size: 0.77rem;
  }

  .option p {
    padding-top: 0.5rem;
  }

  #fittings {
    margin: 1.54rem 0;
  }

  .beliefs {
    margin-bottom: 0;
    flex-direction: column;
  }

  .stance {
    width: 100%;
    margin-bottom: 4rem;
  }

  .stance p {
    padding: 0 0.5rem;
  }

  .subhead {
    width: 100%;
    margin-bottom: 1rem;
  }

  h3 {
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  footer img {
    padding: 0;
  }

  footer p {
    display: none;
  }
}
